<!DOCTYPE html>
<html>
<head>
    <% include ../Partials/head.ejs %>
</head>
<body class="hold-transition login-page" ng-app="forgotPasswordApp"
      ng-controller="forgotPasswordAppCtrlr" ng-init="initController()" ng-cloak>
<div class="login-box">
    <div class="login-logo">
        <a href="../../index2.html"><b>Edu</b>Forum</a>
    </div>
    <!-- /.login-logo -->
    <div class="card">
        <div class="card-body login-card-body">
            <p class="login-box-msg">You forgot your password? Here you can easily retrieve a new password.</p>

            <form name="forgotPassword">
                <div class="input-group mb-3">
                    <input class="form-control" type="email" name="EmailID" id="EmailID" ng-model="data.EmailID"
                           required>
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-envelope"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary btn-block" ng-disabled="!forgotPassword.$valid"
                                ng-click="getPassword()">Send Password
                        </button>
                    </div>
                    <!-- /.col -->
                </div>
            </form>

            <a href="/login" class="btn btn-block btn-success mt-2 btn-sm">
                Login
            </a>
            <a href="/signup" class="btn btn-block btn-danger mt-2 btn-sm">
                Register Here
            </a>
        </div>
        <!-- /.login-card-body -->
    </div>
</div>
<!-- /.login-box -->

<!-- jQuery -->
<% include ../Partials/bodyScriptLoader.ejs %>
<script>
    <% include ng-app.js %>
</script>
</body>
</html>
