<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html lang="en">
<head>
    <% include ../../Partials/head.ejs %>
    <title>Test</title>
</head>
<body class="hold-transition layout-top-nav" ng-app="testPageApp" ng-controller="testPageAppCtrlr"
      ng-init="initController('<%- UserID %>','<%- FullName %>')" ng-cloak>
<div class="wrapper">
    <!-- Navbar -->
    <nav class="main-header navbar navbar-expand-md navbar-light navbar-dark">
        <div class="container-fluid">
            <a href="#" class="navbar-brand">
                <img src="../../img/AdminLTELogo.png" alt="Eduforum Logo" class="brand-image img-circle elevation-3"
                     style="opacity: .8">
                <span class="brand-text font-weight-light text-white">EduForum</span>
            </a>

            <button class="navbar-toggler order-1" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </nav>
    <!-- /.navbar -->
    <div class="container-fluid mt-2">
        <div class="card">
            <div class="card-header bg-dark">
                <div class="row">
                    <div class="col text-center">
                        <h2 class="text-bold">Test Name : {{data.TestName}}</h2>
                    </div>
                    <div class="col text-center">
                        <h2 class="text-bold">Test ID : {{data.TestID}}</h2>
                    </div>
                </div>
            </div>
            <div class="card-body bg-light">
                <div ng-show="_test_start">
                    <div layout="column" layout-align="center center">
                        <h2 layout layout-align="center end" style="margin-top: 70px;"
                            class="text-center text-primary text-bold"> Welcome to the Test</h2>
                    </div>
                    <div class="text-center">
                        <button class="btn btn-outline-dark" ng-click="startTest()"> Start Test</button>
                    </div>


                </div>
                <!--<div ng-show="test_box">-->
                    <!--<form name="test-form">-->
                        <!--&lt;!&ndash; <pre style="margin: 112px 0 54px;padding: 36.5px;"ng-repeat="user in questionArray">{{user}}</pre>&ndash;&gt;-->
                        <!--&lt;!&ndash;<div style="margin: 112px 0 54px;padding: 36.5px;"ng-repeat="user in test">&ndash;&gt;-->
                        <!--<h2 class="text-dark text-bold" style="margin: 112px 0 54px;padding: 36.5px;">-->
                            <!--{{test.Question}}</h2> {{Counter}}-->
                        <!--&lt;!&ndash;<ul style="list-style: none;">&ndash;&gt;-->
                        <!--<ul style="list-style: none;">-->
                            <!--<li>A)<input type="radio" ng-model="selectedOption.option" value="op1" name="u_a"/>-->
                                <!--{{test.op1}}-->
                            <!--</li>-->
                            <!--<li>B)<input type="radio" ng-model="selectedOption.option" value="op2" name="u_a"/>-->
                                <!--{{test.op2}}-->
                            <!--</li>-->
                            <!--<li>C)<input type="radio" ng-model="selectedOption.option" value="op3" name="u_a"/>-->
                                <!--{{test.op3}}-->
                            <!--</li>-->
                            <!--<li>D)<input type="radio" ng-model="selectedOption.option" value="op4" name="u_a"/>-->
                                <!--{{test.op4}}-->
                            <!--</li>-->
                        <!--</ul>-->

                        <!--<button class="md-raised md-primary question-btn-float-left" ng-click="nextQuestion()">Next-->
                        <!--</button>-->
                        <!--&lt;!&ndash;</div>&ndash;&gt;-->
                    <!--</form>-->
                <!--</div>-->
                <div class="form-group col-12" ng-show="test_box">
                    <form name="test-form">
                        <h2 class="text-dark text-bold" style="margin: 112px 0 54px;padding: 36.5px;">
                            {{test.Question}}</h2> {{Counter}}
                        <label>Options</label>
                        <div class="row">
                            <div class="col-6">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <input type="radio" ng-model="selectedOption.option" value="op1" name="u_a">
                                </span>
                                    </div>
                                    <input type="text" class="form-control" contenteditable="false"
                                           placeholder="{{test.op1}}">
                                </div>
                            </div>

                            <div class="col-6">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <input type="radio" ng-model="selectedOption.option" value="op2" name="u_a">
                                </span>
                                    </div>
                                    <input type="text" class="form-control" contenteditable="false"
                                           placeholder="{{test.op2}}">
                                </div>
                            </div>

                            <div class="col-6">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <input type="radio" ng-model="selectedOption.option" value="op3" name="u_a">
                                </span>
                                    </div>
                                    <input type="text" class="form-control" contenteditable="false"
                                           placeholder="{{test.op3}}">
                                </div>
                            </div>

                            <div class="col-6">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <input type="radio" ng-model="selectedOption.option" value="op4" name="u_a">
                                </span>
                                    </div>
                                    <input type="text" class="form-control" contenteditable="false"
                                           placeholder="{{test.op4}}">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div ng-show="noTest" layout='row' layout-align="center center">

                    <h3 style="margin-top: 161px; margin-bottom: 141px;"><i> There is no Test with this Topic </i></h3>
                </div>
                <div ng-show="result" style="text-align: center;margin-top: 141px;margin-bottom: 260px;">


                    <div> Correct Answer's Are: {{correct}}</div>
                    <div> Wrong Answer's Are: {{wrong}}</div>
                    <div> Unattempted Questions: {{unattempted}}</div>
                    <div> Your Percentage: {{percentage}}</div>
                    <a href="/studentsHome">Exit</a>
                </div>
            </div>

        </div>
    </div>
    <% include ../../Partials/footer.ejs %>
</div>
<!-- ./wrapper -->

<!-- REQUIRED SCRIPTS -->

<!-- jQuery -->
<% include ../../Partials/bodyScriptLoader.ejs %>
<script>
    <% include ng-app.js %>
</script>
</body>
</html>
